<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{restaurant.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card color="card">
    <ion-item color="secondary" text-wrap>
      <ion-label> <strong>Name: </strong>
        {{restaurant?.name}}
      </ion-label>
    </ion-item>

    <ion-item color="secondary" text-wrap>
      <ion-label> <strong>Cuisine: </strong>
        {{restaurant?.cuisine}}
      </ion-label>
    </ion-item>

    <ion-item color="secondary" text-wrap>
      <ion-label> <strong>Address: </strong>
        {{restaurant?.address}}
      </ion-label>
    </ion-item>
    <ion-item color="light" text-wrap>
      <ion-label> <strong>Specialty: </strong>
        {{restaurant?.specialty}}
      </ion-label>
    </ion-item>
    <date-time *ngIf="alreadyReserved == false && userLogged == true"></date-time>
    <button ion-button *ngIf="alreadyReserved == true && userLogged == true" (click)="removeReserve()">Cancelar reserva</button>
  </ion-card>
</ion-content>

