<ion-header>
  <ion-navbar color="secondary">
    <ion-title >Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div *ngFor="let row of restaurants">
      <ion-row color="secondary">
        <ion-col *ngFor="let column of row" col-md-8>
          <ion-card color="secondary" (click)="itemTapped(column)">
            <ion-card-header>
              <ion-card-title color="title" class="product-name">{{column.name}}</ion-card-title>
              <ion-card-title color="light" class="product-cuisine" small>{{column.cuisine}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="product-price"><strong>{{column.specialty}}</strong></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
