date-time {

  .datetimebackground{
    background-color: #7081B3;
  }
  .scroll-content {
    padding: 16px 5px !important;
    margin-top: 56px !important;


    .reservar{
      font-weight: bold;
    }

    background-color: #b2601b !important;

  }
}
