page-signup {

  .scroll-content {
    background-color: #28b270;
    border-bottom: transparent;
  }

  .item {
    background-color: #18b23e;
    border-bottom: transparent;
    border-radius: 15px;
  }
}
